
 <!DOCTYPE html>
<html>
 
<!-- >>>>>>>>>>>>>>>> Breadcumb Area Start <<<<<<<<<<<<<<<< -->
    <section class="breadcumb_area background-overlay" style="background-image: url(https://media.npr.org/assets/img/2013/05/13/honeycomb-2_wide-49ae2c6ec87d4b4092881baf81e2de967926cba5.jpg?s=1400);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcumb_section">
                        <!-- Breadcumb Page Title -->
                        <div class="page_title">
                            <h3> <%= @hive.hive_name %></h3>
                        </div>
                        <!-- Breadcumb Page Pagination -->
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">something</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> General Screen Area End <<<<<<<<<<<<<<<< -->
<%= hidden_field_tag :hive_id, @hive_id %>

    <!-- >>>>>>>>>>>>>>>> Why Choose Us Area Start <<<<<<<<<<<<<<<< -->
    <section class="landing_why_choose_us landing_one_version section_padding_90_50">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <h3>Hive Information:</h3>
                        <p>Add a log entry, see foraging boundaries and check the forecast for your hive.</p>
                    </div>
                </div>
            </div>

    </section>
 <!-- >>>>>>>>>>>>>>>> 2 Column Details & Log <<<<<<<<<<<<<<<< -->

      <div class="container">
          <div class="service_details_content">
            <div class="single_part_content">
                <div class="row">
                    <div class="col-sm-6">
                      <h3>General Information</h3>
                      <h4><%= @hive.hive_name %></h4>
                      <h4>Breed: <%= @hive.bee_breed %></h4>
                      <h4>Hive: <%= @hive.hive_style %></h4>
                      <h4>Address:
                          <%= @hive.street %>
                          <%= @hive.hive_city %>, <%= @hive.hive_state %>
                      </h4>
                      <%= link_to "Edit", "/hives/#{ @hive.id }/edit" %>
                    </div>
                        <div class="col-sm-6">
                               <h3> Hive-Check Entries</h3> 
                            <%= link_to "Add a Log", "/hives/#{@hive.id}/logs/new" , class: "btn btn-primary"%>
                             <% @log.each do |log| %>
                              <h4>Most Recent Update: <%= log.updated_at %></h4>
                              <h5>Field Notes: </h5>
                              <p>  <%= log.notes %> </p>
                              <h5>Sightings:</h5>
                              <h5> Queen: <%= log.queen%></h5> 
                              <h5> Larva:<%= log.larva %></h5> 
                              <h5> Proper Comb Build: <%= log.comb_build %></h5>
                              <h5>Overall Status <%= log.hive_general_status %></h5>
                              <%= link_to "Edit", "/hives/#{ @hive.id}/logs/#{ log.id}/edit" %> | 
                              <%= link_to "Delete Log", "/logs/#{ log.id }", method: :delete %>
                              <br>
                          <% end  %>
                        </div>
            </div>
          </div>
        </div>
      </div>

      <br>
 <!-- >>>>>>>>>>>>>>>> 2 Columns Forecast & Internal <<<<<<<<<<<<<<<< -->

      <div class="container">
          <div class="service_details_content">
                       
        <div class="single_part_content">
                        <p class="solid"><h3> Tempratures</h3> </p>
        <div class="row">
        <div class="col-sm-6">
          <h3> 5  Day Forecast</h3> 
                               <h4 text-decoration: strong; align="center">Current Temprature: <%= @temperature %>°<%= @temp_unit %></h4>
                              <table>
                                <tr>
                                  <th class="text-center">Day</th>
                                  <th class="text-center">Forecast</th>
                                  <th class="text-center">High</th>
                                  <th class="text-center">Low</th>
                                </tr>
                                
                                   <% @forecasts.each do |forecast| %>
                                   <tr>
                                    <td><%= forecast["day"] %></td>
                                    <td><%= forecast["text"] %></td>
                                    <td><%= forecast["high"] %></td>
                                    <td><%= forecast["low"] %></td>
                                    <% end %>
                                    </tr>
                               </table>
        </div>
        <div class="col-sm-6">
                     <h3>Hive Internal Temperature</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
        </div>
      </div>
</div>

    

<br>
 <!-- >>>>>>>>>>>>>>>> Map API <<<<<<<<<<<<<<<< -->

  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <h3>Foraging Distance</h3>

    <div id="map"></div>
    <script>

      var citymap = {
        <%= @hive.hive_city %>:{
          center: {lat: <%= @hive.latitude %>, 
                  lng: <%= @hive.longitude %>
          }
        }
      };

      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: <%= @hive.latitude %>, lng: <%= @hive.longitude %> },
          mapTypeId: 'terrain'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        for (var hive_city in citymap) {
          // Add the circle for this city to the map.
          var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: citymap[hive_city].center,
            radius: 4828.03
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOc24sApllxhbn4SF_ntEsMApDN26raEM&callback=initMap">
    </script>
  </body>
<%= link_to "Delete Hive", "/hives/#{ @hive.id }", method: :delete %>






 


  

 