<h1>Your INDIVIDUAL hive:</h1>
<%= hidden_field_tag :hive_id, @hive_id %>

<h2> <%= @hive.hive_name %> </h2>
<h3><%= @hive.bee_breed %></h3>
<h3><%= @hive.hive_style %></h3>
<h3><%= @hive.hive_address %></h3>
<h3><%= @hive.hive_city %></h3>
<h3><%= @hive.hive_state%></h3>

<%= link_to "Add a Log", "/hives/#{@hive.id}/logs/new" , class: "btn btn-success"%>
  <br>
<h2> Most Recent Logs:</h2>

  <% @log.each do |log| %>
      <h4>Most Recent Update: <%= log.updated_at %></h4>
      <h6>Field Notes: <%= log.notes %></h6>
      <h6>Sightings: <%= log.queen%></h6> <h6> <%= log.larva %></h6> <h6> <%= log.comb_build %></h6>
      <h6>Overall Status <%= log.hive_general_status %></h6>
      <%= link_to "Delete", "/logs/#{ log.id }", method: :delete %>
      <br>
  <% end  %>

  

 